# Project specific
.idea
out
the-one.iml

# Compiled files
*.class

# Simulation report files
*reports/*.pdf
*reports/*.png
*reports/*.txt
!*reports/MessageCopyCount.txt

# Javadocs
*.html
doc/stylesheet.css
doc/resources/*.gif
doc/package-list

# Eclipse IDE files
.classpath
.project
/target/
.settings/org.eclipse.*
